<html>
  <head>
    <script src = "jquery-1.12.3.min.js"></script>
  </head>
  <body>
    <h2>Anonymous Public Forumn</h2>

    <h4>Most Recent Comments:</h4>

    <!--THIS IS WHERE the data is loaded from server.
    Do not change the code. Change the <li> style if you want to.
    Or organize them in your own way, however you like-->
    <ul>
      <li><%- a %></li>
      <li><%- b %></li>
      <li><%- c %></li>
      <li><%- d %></li>
      <li><%- e %></li>
    </ul>

    <h4>Post new Comment</h4>
    <input type = "text" id = "comment" placeholder="Your comment" />
    <button id = "buttonSubmitComment">Submit</button>

    <script>
      $('#buttonSubmitComment').click (function () {
        $.ajax ({
          url: '/comment',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify ({comment: $('input#comment').val (), date: new Date ()})
        });
      });
    </script>

  </body>
</html>
